/*
Body width: 988px
Column width: 148px
Horizontal gutter width: 20px
No. columns: 6

Body height: 611px
Row height: 91px
Vertical gutter height: 13px
No. rows: 6

Formula used to calculate percentages: parent x multiplier = target

See http://www.alistapart.com/articles/fluidgrids/ for more information
*/
.container
{
	margin: 3.125em auto; /* 16px x 3.125em = 50px */
	max-width: 61.75em; /* 16px x 61.75em = 988px */
}
.columns
{
	clear: left;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6
{
	float: left;
	margin-bottom: 0.8125em; /* 16px x 0.8125em = 13px */
	margin-left: 1.25em; /* 16px x 1.25em = 20px */
	min-height: 1.5em; /* 16px x 1.5em = 24px */
}
.columns > :first-child
{
	margin-left: 0;
}
.col-1 img,
.col-2 img,
.col-3 img,
.col-4 img,
.col-5 img,
.col-6 img,
.col-1 object,
.col-2 object,
.col-3 object,
.col-4 object,
.col-5 object,
.col-6 object
{
	max-width: 100%;
}
.divine
{
	overflow: hidden;
}
.col-1
{
	width: 9.25em; /* 16px x 9.25em = 148px */
}
.col-1.divine, .col-1 .divine
{
	height: 5.6875em; /* 16px x 5.6875em = 91px */
}
.col-2
{
	width: 19.75em; /* 16px x 19.75em = 316px */
}
.col-2.divine, .col-2 .divine
{
	height: 12.1875em; /* 16px x 12.1875em = 195px */
}
.col-3
{
	width: 30.25em; /* 16px x 30.25em = 484px */
}
.col-3.divine, .col-3 .divine
{
	height: 18.6875em; /* 16px x 18.6875em = 299px */
}
.col-4
{
	width: 40.75em; /* 16px x 40.75em = 652px */
}
.col-4.divine, .col-4  .divine
{
	height: 25.1875em; /* 16px x 25.1875em = 403px */
}
.col-5
{
	width: 51.25em; /* 16px x 51.25em = 820px */
}
.col-5.divine, .col-5 .divine
{
	height: 31.6875em; /* 16px x 31.6875em = 507px */
}
.col-6
{
	width: 61.75em; /* 16px x 61.75em = 988px */
}
.col-6.divine, .col-6 .divine
{
	height: 38.1875em; /* 16px x 38.1875em = 611px */
}
.app-1
{
	margin-right: 10.5em; /* 16px x 10.5em = 168px */
}
.app-2
{
	margin-right: 21em; /* 16px x 21em = 336px */
}
.app-3
{
	margin-right: 31.5em; /* 16px x 31.5em = 504px */
}
.app-4
{
	margin-right: 42em; /* 16px x 42em = 672px */
}
.app-5
{
	margin-right: 52.5em; /* 16px x 52.5em = 840px */
}
.pre-1
{
	margin-left: 11.75em; /* 16px x 11.75em = 188px */
}
.pre-1:first-child
{
	margin-left: 10.5em; /* 16px x 10.5em = 168px */
}
.pre-2
{
	margin-left: 22.25em; /* 16px x 22.25em = 356px */
}
.pre-2:first-child
{
	margin-left: 21em; /* 16px x 21em = 336px */
}
.pre-3
{
	margin-left: 32.75em; /* 16px x 32.75em = 524px */
}
.pre-3:first-child
{
	margin-left: 31.5em; /* 16px x 31.5em = 504px */
}
.pre-4
{
	margin-left: 43.25em; /* 16px x 43.25em = 692px */
}
.pre-4:first-child
{
	margin-left: 42em; /* 16px x 42em = 672px */
}
.pre-5
{
	margin-left: 52.5em; /* 16px x 52.5em = 840px */
}
.pre-5:first-child
{
	margin-left: 52.5em; /* 16px x 52.5em = 840px */
}
.media
{
	margin-top: 0.8125em; /* 16px x 0.8125em = 13px */
}
.media:first-child
{
	margin-top: 0;
}
.media .img
{
	float: left;
	height: 3.125em; /* 16px x 3.125em = 50px */
	margin: 0.8125em; /* 16px x 0.8125em = 13px */
	width: 3.125em; /* 16px x 3.125em = 50px */
}
.media .bd
{
	margin: 0.8125em; /* 16px x 0.8125em = 13px */
	overflow: hidden;
}
@media (max-width: 988px) {
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6
	{
		float: none;
		margin-left: 0;
		width: 100%;
	}
}