.container
{
	font-family: arial, sans-serif;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container p,
.container ol,
.container ul,
.container li
{
	margin-bottom: 1em; /* Varies */
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6
{
	font-family: times, serif;
}
.container h1
{
	font-size: 2em; /* 16px x 2em = 32px */
}
.container h2
{
	font-size: 1.5em; /* 16px x 1.5em = 24px */
}
.container h3
{
	font-size: 1.25em; /* 16px x 1.25em = 20px */
}
.container h4
{
	font-size: 1em; /* 16px x 1em = 16px */
}
.container h5
{
	font-size: 0.875em; /* 16px x 0.875em = 14px */
}
.container h6
{
	font-size: 0.75em; /* 16px x 0.75em = 12px */
}
.container .warning
{
	background-color: #fee;
	color: #900;
}
.container .success
{
	background-color: #efe;
	color: #090;
}
.container .notice
{
	background-color: #eef;
	color: #009;
}